<h1>{{title}}</h1>

<ul id="productsList">
    {{#each products}}
        <li data-id="{{id}}">
            <strong>{{title}}</strong> - ${{price}}
        </li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
